body{
    display: flex;
    justify-content: center;
    background-color: #F9F3CC;
}
.container{
    width: 60vw;
    height: 70vh;
    border: 1px ridge grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

.board > * {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

